In [2]:
import psycopg2
import codecs
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

### Подключаемся к базе данных

In [3]:
connection = psycopg2.connect(user="postgres", password="postgres", host="127.0.0.1", port="5432")
connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
    # Курсор для выполнения операций с базой данных
cursor = connection.cursor()

### Создаем таблицы

In [93]:
with open("create_tables.sql", "r") as f:
    sql_creat_table = f.read()
cursor.execute(sql_creat_table)
connection.commit()

### Заполним базу данных тестовыми значениями (если test=1)

In [94]:
test = 1
if test == 1:
    with codecs.open("add_data.sql", "r","utf_8_sig") as f:
        sql_creat_params = f.read()
    cursor.execute(sql_creat_params)
    connection.commit()

### Очистить все таблицы базы (если delete=1)

In [92]:
delete = 0
if delete == 1:
    sql_commands = """DROP TABLE Inventories, Study_Status,Study_Form,Residence_Status,Application_Statuses,Hostel,Furniture,Subjects,Employee_Roles,Employee,Verification,Rooms,Furniture_Room,Students,Rented_Inventory,Application_Placement,Progress,Students_Grades;"""
    cursor.execute(sql_commands)
    connection.commit()

### Функция и примеры для CRUD

In [7]:
def sql_request(request):
    cursor.execute(request)
    connection.commit()
    res = cursor.fetchall()
    return res

Create

In [8]:
sql_commands = """
INSERT INTO Students(fcs,gender,group_student,rating,id_room,id_study_status,id_study_form,id_residence_status) 
	VALUES ('Глинко Анна Ивановна',1,'1023=4-ИТ',100,1,1,1,1);
"""
cursor.execute(sql_commands)
connection.commit()

In [9]:
sql_commands = """
SELECT *
FROM Students
"""
sql_request(sql_commands)

[(1, 'Сидоров Иван Сергеевич', 1, '1023-ИТ', 100, 1, 1, 1, 1),
 (3, 'Глинко Анна Ивановна', 1, '1023=4-ИТ', 100, 1, 1, 1, 1)]

Update

In [10]:
sql_commands = """
UPDATE Students
	SET fcs='Сидоров Иван Сергеевич'
	WHERE id_student=1;

"""
cursor.execute(sql_commands)
connection.commit()

In [11]:
sql_commands = """
SELECT *
FROM Students
"""
sql_request(sql_commands)

[(3, 'Глинко Анна Ивановна', 1, '1023=4-ИТ', 100, 1, 1, 1, 1),
 (1, 'Сидоров Иван Сергеевич', 1, '1023-ИТ', 100, 1, 1, 1, 1)]

Delete

In [12]:
sql_commands = """
DELETE FROM Students
	WHERE id_student = 2;
"""
cursor.execute(sql_commands)
connection.commit()

In [13]:
sql_commands = """
SELECT *
FROM Students
"""
sql_request(sql_commands)

[(3, 'Глинко Анна Ивановна', 1, '1023=4-ИТ', 100, 1, 1, 1, 1),
 (1, 'Сидоров Иван Сергеевич', 1, '1023-ИТ', 100, 1, 1, 1, 1)]

#### CRUD для роли "Студент"
- Редактировать: данные о себе, данные о достижениях
- Просматривать: данные о комнате проживания (адрес, инвентарь, мебель), рейтинг студентов
- Добавлять: заявки на размещения в комнате, заявки на добавление достижения

In [ ]:
sql_commands = """
UPDATE Students
	SET fcs='Сидоров Иван Сергеевич'
	WHERE id_student=1;

"""
cursor.execute(sql_commands)
connection.commit()

In [ ]:
sql_commands = """
SELECT *
FROM Students
"""
sql_request(sql_commands)

[(3, 'Глинко Анна Ивановна', 1, '1023=4-ИТ', 100, 1, 1, 1, 1),
 (1, 'Сидоров Иван Сергеевич', 1, '1023-ИТ', 100, 1, 1, 1, 1)]

In [98]:
sql_commands = """
UPDATE Progress
	SET name_progress='Значки ГТО'
	WHERE id_student=1 AND id_progress=1;

"""
cursor.execute(sql_commands)
connection.commit()

In [ ]:
sql_commands = """
INSERT INTO Progress(name_progress,confirmation_progress,ratio,date_added,id_student) 
	VALUES ('Значок ГТО',false,2,'23-10-2022',1);
"""
cursor.execute(sql_commands)
connection.commit()

In [ ]:
sql_commands = """
INSERT INTO Application_Placement(id_student,id_room,id_examiner,id_application_status) 
	VALUES (1,1,1,1);
"""
cursor.execute(sql_commands)
connection.commit()

#### CRUD для роли "Администратор от университета"
- Редактировать: данные об общежитиях, заявки на размещения в комнате и добавления достижений, оценки студентов, данные о проверках
- Просматривать: данные студентов, данные о комнатах (адрес, инвентарь, мебель). Соответвенно, все данные, которые может удалить/добавить/редактировать.
- Добавлять: оценки студентов, данные о проверках, данные об общежитиях
- Удалять: оценки студентов, данные о проверках, данные об общежитиях

In [ ]:
sql_commands = """
INSERT INTO Students_Grades(grade,term,assessment_date,id_student,id_subject) 
	VALUES (5,6,'23-10-2022',1,1);
"""
cursor.execute(sql_commands)
connection.commit()

In [ ]:
sql_commands = """
INSERT INTO Hostel(address_of_hostel,number_rooms) 
	VALUES ('Москва, ул. Ленина, д.42, корпус 3',100);
"""
cursor.execute(sql_commands)
connection.commit()

In [ ]:
sql_commands = """
INSERT INTO Verification(date_verification,id_examiner) 
	VALUES ('23-10-2022',1);
"""
cursor.execute(sql_commands)
connection.commit()

#### CRUD для роли "Сотрудник общежития"
- Редактировать: данные о комнатах в общежити (адрес, инвентарь, мебель)
- Просматривать: данные об общежитиях, данные о проверках, данные о студентах, которые размещены в комнатах
- Добавлять: данные о комнатах в общежити (адрес, инвентарь, мебель)
- Удалять: данные о комнатах в общежити (адрес, инвентарь, мебель)

In [ ]:
sql_commands = """
INSERT INTO Inventories(name_inventory) 
	VALUES ('Матрас');
INSERT INTO Furniture(name_furniture,date_purchase) 
	VALUES ('Стул','23-10-2010');
INSERT INTO Rooms(square,number_places,id_hostel,id_verification) 
	VALUES (32,4,1,1);
INSERT INTO Furniture_Room(installation_date,id_furniture,id_room) 
	VALUES ('23-10-2022',1,1);
"""
cursor.execute(sql_commands)
connection.commit()

### Where с обьединением трех таблиц

Номера общежитий и комнат, где есть стулья

In [14]:
sql_commands = """
SELECT Hostel.address_of_hostel, Rooms.id_room, Furniture.name_furniture
FROM Hostel, Rooms, Furniture_Room,Furniture
WHERE Hostel.id_hostel = Rooms.id_hostel 
AND Rooms.id_room = Furniture_Room.id_room 
AND Furniture_Room.id_furniture_room IN (SELECT id_furniture_room FROM Furniture_Room WHERE id_furniture = 1)
"""
sql_request(sql_commands)

[('Москва, ул. Ленина, д.42, корпус 3', 1, 'Стул')]

### Вложенный Select

Адреса общежитий, в комнатах которых есть свободные места

In [15]:
sql_commands = """
SELECT Hostel.id_hostel, Hostel.address_of_hostel
FROM Hostel
WHERE Hostel.id_hostel IN (
    SELECT Rooms.id_room
    FROM Rooms
    WHERE Rooms.number_places >= 1)
"""
sql_request(sql_commands)

[(1, 'Москва, ул. Ленина, д.42, корпус 3')]

 ФИО студентов, проживающих в комнате №4

In [16]:
sql_commands = """
SELECT Students.fcs
FROM Students
WHERE Students.id_student IN (
    SELECT Rooms.id_room
    FROM Rooms
    WHERE Rooms.number_places = 4)
"""
sql_request(sql_commands)

[('Сидоров Иван Сергеевич',)]

### Join

ФИО всех заочников проживающих в общежитии

In [17]:
sql_commands = """
SELECT Students.fcs
FROM Students, Study_Form
JOIN Residence_Status ON Residence_Status.id_residence_status = 1 AND Study_Form.id_study_form = 1
GROUP BY Students.fcs
"""
sql_request(sql_commands)

[('Сидоров Иван Сергеевич',), ('Глинко Анна Ивановна',)]

Номера общежитий и комнат, в которых есть столы, но нет стульев

In [18]:
sql_commands = """
SELECT Hostel.address_of_hostel, Rooms.number_places
FROM Hostel,Rooms
JOIN Furniture_Room ON Furniture_Room.id_room = Rooms.id_room AND Furniture_Room.id_furniture=1 AND Furniture_Room.id_furniture!=2
"""
sql_request(sql_commands)

[('Москва, ул. Ленина, д.42, корпус 3', 4)]

### Агрегация

Самый высокий средний балл студента

In [19]:
sql_commands = """
SELECT MAX(rating) FROM Students;
"""
sql_request(sql_commands)

[(100,)]

Средний оценка студента за экзамены

In [20]:
sql_commands = """
SELECT AVG(grade) FROM Students_Grades WHERE id_student=1;"""
sql_request(sql_commands)

[(Decimal('5.0000000000000000'),)]

### Триггеры, процедуры

Изменение рейтинга студента при добавлении достижений

In [95]:
sql_commands_trigger = """
CREATE OR REPLACE FUNCTION progress_insert_trigger_fnc()
  RETURNS trigger AS
$$
BEGIN
 UPDATE Students
	SET rating=rating*NEW.ratio
	WHERE id_student=NEW.id_student; 
RETURN NEW;
END;
$$
LANGUAGE 'plpgsql';
CREATE TRIGGER progress_insert_trigger
  AFTER INSERT
  ON Progress
  FOR EACH ROW
  EXECUTE PROCEDURE progress_insert_trigger_fnc();

"""
cursor.execute(sql_commands_trigger)
connection.commit()

In [ ]:
sql_commands = """
INSERT INTO Progress(name_progress,confirmation_progress,ratio,date_added,id_student) 
	VALUES ('Значок ГТО',false,2,'23-10-2022',1);
"""
sql_request(sql_commands)

In [97]:
sql_commands = """
SELECT *
From Students
"""
sql_request(sql_commands)

[(1, 'Петров Иван Сергеевич', 1, '1023-ИТ', 200, 1, 1, 1, 1)]

In [ ]:
cursor.close()
connection.close()